/* .animePanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  } */
  .animeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
    
.animeCard {
  width: 15em;
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid goldenrod;
  display: flex;
  flex-direction: column;
}
.animeForm {
  width: 40em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.synopsis {
  font-size: 1.5ex;
  overflow: auto;
  max-height: 8em;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
